<!DOCTYPE html>
<html ng-app='DisabilitiesResearch'>
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="script.js"></script>
  </head>

  <body ng-controller="addURLController">
    <div>
    <img id="logo" src="http://tpe-smc-handicap.e-monsite.com/medias/images/handicape-1.jpg" alt="Logo" width="0%">
    </div>
    <div id="listAdd" ng-repeat="disabilitie in disabilities">
      <input type="checkbox" name="disabilitie" ng-model="websiteDisabilitie.disabilitie" value="true" checked> 
      {{disabilitie}}
    </div>
    <div id="soumettre" width="100%">
    <input type="textarea" name="url" ng-model="websiteDisabilitie.url" placeholder="url">
    <input type="button" name="submit" value="Soumettre" ng-click="soumettre()">
    {{websiteDisabilitie}}
    </div>
  </body>
</html>
