<!DOCTYPE html>
<html ng-app='DisabilitiesResearch'>
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="script.js"></script>
  </head>

  <body ng-controller="ResearchController as researchCtrl">
    <h1>Disabilities Research</h1>

    <div id="right">
    <gcse:search></gcse:search>
    </div>
    
    <div id="left">
    <img src="http://chevignysaintsauveurautrement.h.c.f.unblog.fr/files/2015/11/handicap-731x227.jpg" alt="Logo" height="70" align="middle">
    
    <div id="lien">
    <a href="addURL.html">Ajouter Un Site</a>
    </div>
    <div id="list" ng-repeat="disabilitie in disabilities"> 
      <input type="checkbox" name="disabilitie" ng-model="$parent" ng-change="searchBar()" checked> 
      {{disabilitie}}
    </div>
    </div>

  </body>

</html>
