<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Projet_Web_Cloud</servlet-name>
		<servlet-class>com.example.projet_web_cloud.Projet_Web_CloudServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Projet_Web_Cloud</servlet-name>
		<url-pattern>/projet_web_cloud</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add_entites</servlet-name>
		<servlet-class>com.example.projet_web_cloud.AddEntitesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add_entites</servlet-name>
		<url-pattern>/add_entites</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.example.projet_web_cloud.WebsiteDisabilitiesEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>